<html>
<meta charset="utf-8"/>
<head>
  <%= wicked_pdf_stylesheet_link_tag 'application', media: 'all' %>
</head>

<style>
  body
  {
    background-image: none;
    padding: 0;
  }
</style>

<body>

<div class='box col-sm-12'>

  <table class='table small-text'>
    <tr>
      <td colspan='2'>
        <%= @invoice.cName %>
        <br>
        <%= @invoice.cAddress %>
        <br>
        <%= @invoice.cPostcode %>
        <br>
        <%= @invoice.cEmail %>
      </td>
      <td class='right-align' colspan='2'>
        <h6><%= @invoice.bName %></h6>
        <%= @invoice.bEmail %>
      </td>
    </tr>

    <tr>
      <td colspan='4'></td>
    </tr>

    <tr>
      <td>
      </td>
      <th class='right-align'>
        Date:
        <br>
        Invoice No:
      </th>
      <td colspan='2'>
        <%= @invoice.created_at.strftime('%A, %b %d') %>
        <br>
        <%= @invoice.id %>
      </td>
    </tr>

    <tr>
      <td colspan='4'></td>
    </tr>

    <tr style='border-top: 2px solid #ddd; border-bottom: 2px solid #ddd;'>
      <th>Description</th>
      <th>Cost</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
    <tr>
      <td><%= @invoice.desc %></td>
      <td><%= number_to_currency(@invoice.price, :unit => "£")%></td>
      <td>1</td>
      <td><%= number_to_currency(@invoice.price, :unit => "£")%></td>
    </tr>
    <tr>
      <td colspan='4'></td>
    </tr>
    <tr>
      <td colspan='4'></td>
    </tr>
    <tr>
      <td colspan='4'></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <th class='right-align' style='border-top: 2px solid #ddd; border-left: 2px solid #ddd;'>Subtotal</th>
      <td style='border-top: 2px solid #ddd; border-right: 2px solid #ddd;'><%= number_to_currency(@invoice.price, :unit => "£")%></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <th class='right-align' style='border-left: 2px solid #ddd;'>Paid</th>
      <td style='border-right: 2px solid #ddd;'><%= number_to_currency(0, :unit => "£")%></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <th class='right-align' style='border-bottom: 2px solid #ddd; border-left: 2px solid #ddd;'>Total</th>
      <td style='border-bottom: 2px solid #ddd; border-right: 2px solid #ddd;'><%= number_to_currency(@invoice.price, :unit => "£")%></td>
    </tr>
    <tr>
      <th style='border-bottom: 2px solid #ddd;' colspan='4'>TERMS</th>
    </tr>

    <tr>
      <td colspan='4'>
        All Invoices to be paid within 30 days.
        <br>
        Charge of 1.5% will be made on unpaid balances after 30 days.
      </td>
    </tr>    

  </table>

</div>

</body>

</html>